#content > .search{
    position: absolute;
    transform: translate(50%,50%);
    text-align: center;
    top: 50%;
    right: 50%;
    width: 500px;
    height: 500px;
}

#content > .searchImages{
    position: absolute;
    transform: translate(50%,40%);
    text-align: center;
    top: 50%;
    right: 50%;
    width: 500px;
    height: 500px;
}

.headBar{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 150px;
}

.headBar > div{
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 14px;
    width: 70px;
    height: 50px;
    padding: 10px;
}

.headBar > div > a{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.headBar > div > a:hover{
    text-decoration: underline;
}

.footer{
    padding: 35px;
}

.footer > div{
    font-family: arial, sans-serif;
    font-size: 12px;
}

.footer > div > a {

    font-family: arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.footer > div > a:hover {
    text-decoration: underline;
}


#content {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-control {
    border-radius: 40px !important;
}

.search > button{
    color: #3c4043;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.search > button:hover{
    border-color: rgba(60, 64, 67, 0.17);
}